<!-- talks.component.html -->

<div class="container">
  <div class="card">
    <h1>GraphQL SPQR UI</h1>
    <h2>Tech Forum Talks</h2>
    <ng-container *ngIf="talks$ | async as talks; else loadingOrError">
      <ul class="talk-list">
        <li *ngFor="let talk of talks" class="talk-item">
          <span class="talk-subject">{{ talk.subject }}</span> by <span class="talk-speaker">{{ talk.speaker.name }}</span>
          <br/>
          <span class="talk-subject">Number of Attendees: </span><span class="talk-numberOfAttendees">{{ talk.numberOfAttendees }}</span>
        </li>
      </ul>
    </ng-container>
    <ng-template #loadingOrError>
      <div *ngIf="loading; else errorTemplate">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template #errorTemplate>
        <p class="loading-or-error" *ngIf="error">Error occurred while fetching talks.</p>
      </ng-template>
    </ng-template>
  </div>
</div>
